asgiref==3.7.2
dj-database-url==2.1.0
Django==5.0.2
django-heroku==0.3.1
django-ssl-smtp==2.0.0
et-xmlfile==1.1.0
gunicorn==21.2.0
numpy==1.26.4
openpyxl==3.1.2
packaging==23.2
pandas==2.2.0
psycopg2==2.9.9
python-dateutil==2.8.2
python-decouple==3.8
pytz==2024.1
secure-smtplib==0.1.1
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.9.0
tzdata==2023.4
whitenoise==6.6.0
